header {
    display: flex;
    background-color: var(--primary-color); /* pink */
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    padding: 0 20px;
}

header img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;  
    font-size: 20px;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 0.75px black;
    transition: 0.3s;
}

nav a:hover {
    color: var(--secondary-color); /* light pink hover */
}