:root {
    --primary-color: #db65f0;
    --secondary-color: #e2a6ed;;
    --main-background-color: #f9f8f2;
    --text-color: #333;

}
body, footer {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 60px; 
}
nav {
    display: flex;
    align-items: center;  
    font-size: 25px;
    gap: 20px;
    text-align: right;
    margin-right: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: .75px black;
}
header img {
    height: 40px;
    margin-left: 20px;
}
.registration-container {
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  overflow: hidden; /* <— ensures h1 background covers rounded corners */
  max-width: 600px;
  margin: 5rem auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.tab {
    display: none;
    flex-direction: column;
    gap: 1rem;
}
.tab.active {
    display: flex;
}
input, select{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: var(--secondary-color);
}
h1 {
  background-color: var(--secondary-color);
  color: white;
  -webkit-text-stroke: .75px black;
  margin: -40px -40px 20px -40px;
  padding: 20px;
  text-align: center;
}

h2 {
    display: none;
}
body {
    background-color: var(--main-background-color);
}
footer {
    display: none;
}