:root {
    --primary-color: #db65f0;
    --secondary-color: #e2a6ed;
    --main-background-color: #f9f8f2;
    --text-color: #333;
}

body, footer {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--main-background-color);
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    height: 60px; 
    padding: 0 20px;
}

header img {
    height: 40px;
}

nav {
    display: flex;
    align-items: center;  
    font-size: 25px;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    -webkit-text-stroke: 0.75px black;
}

.registration-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    max-width: 600px;
    margin: 5rem auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    background-color: var(--secondary-color);
    color: white;
    -webkit-text-stroke: 0.75px black;
    margin: -40px -40px 30px -40px;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

label {
    font-weight: bold;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

footer {
    display: none;
}
