{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/registration.js' %}" defer></script>
    <title>Registration</title>
</head>
<body>
    <header>
        <a href="#"><img src="#" alt="Logo"></a>
        <nav>
            <a href="{% url 'login' %}">Login</a>
         </nav>
    </header>
    
    <main class="main-content">
        <div class="registration-container">
            <h1>Register:</h1>

            <form id="registration-form" method="POST">
                {% csrf_token %}
            <div class="tab active">
                <h2>Name and Email</h2>
                <label for="first-name">First Name:</label>
                <input type="text" id="first-name" name="first-name" required>
                

                <label for="last-name">Last Name:</label>
                <input type="text" id="last-name" name="last-name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                {% if errors.email %}
                    <p style="color:red;">{{ errors.email }}</p>
                {% endif %}
            </div>

            <div class="tab">
                <h2>Account Details</h2>
                
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                {% if errors.username %}
                    <p style="color:red;">{{ errors.username }}</p>
                {% endif %}

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                {% if errors.password %}
                    <p style="color:red;">{{ errors.password }}</p>
                {% endif %}

                <label for="confirm-password">Confirm Password:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <p id="password-error" style="color:red; display:none;">
                    Passwords must match and be at least 8 characters long, 
                    with at least one uppercase letter, one number, and one special symbol.
                </p>

            </div>

            <div class="button-container">
                <button type="button" id="prevBtn">Previous</button>
                <button type="button" id="nextBtn">Next</button>
            </div>
            </form>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 NutriApp. All rights reserved.</p>
    </footer>
</body>
</html>